{% extends "base.html" %}

{% block main %}
	<div class="ui grid">
		<div class="ui four wide column">
			<ul>
			{% for project in projects%}
				<li><a href="project/stories/{{project.id}}" data-target="#div-stories">{{project}}</a></li>
			{% endfor%}
			</ul>
		</div>
		<div class="ui twelve wide column" id="div-stories">
		{% if stories=="" %}			<div class="ui icon info message">
				<i class="info circle icon"></i>
				<div class="content">
					Sélectionnez un projet pour afficher ses stories.
				</div>
			</div>
			{% endif %}
			{{ stories | raw }}
		</div>
		
	</div>
{% endblock %}
