{% extends "base.html" %}
{% block main %}
	<ul class="ui list">
	{% for prj in projects %}
		<li>{{ prj.name }} ({{prj.user}})
			<ol class="ui ordered list">
			{% for sto in prj.storys %}
				<li>{{ sto }}</li>
			{% endfor %}
			</ol>
		</li>
	{% endfor %}
	</ul>
{% endblock %}
